# Logs and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Database
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*

# Secrets and credentials
config/master.key
/config/*.key
config/initializers/secret_token.rb

# Environment variables
.env
.env*.local

# Bundler
/.bundle
/vendor/bundle

# Storage
/storage/*
!/storage/.keep

# Coverage
/coverage/

# RSpec
.rspec_status

# OS
.DS_Store

# IDE
.idea/